<div class="space-y-8">
  <ult-skeleton>
    <ult-skeleton-circle></ult-skeleton-circle>
    <ult-skeleton-line></ult-skeleton-line>
    <ult-skeleton-line></ult-skeleton-line>
    <ult-skeleton-block></ult-skeleton-block>
    <ult-skeleton-line></ult-skeleton-line>
  </ult-skeleton>
  <ult-skeleton class="gap-5">
    <ult-skeleton-line class="!h-7 !w-24"></ult-skeleton-line>
    <ult-skeleton-line class="!h-7 !w-20"></ult-skeleton-line>
    <ult-skeleton-line class="!h-7 !w-28"></ult-skeleton-line>
    <ult-skeleton-line class="!h-7 !w-16"></ult-skeleton-line>
  </ult-skeleton>
</div>
