<div class="grid grid-cols-12 gap-10 max-w-full">
  <div class="col-span-8 space-y-8">
    <div class="space-y-6">
      <h1 class="mt-0">Text Input</h1>
    </div>

    <h2>Import</h2>
    <div class="space-y-6">
      <p>Import module:</p>
      <code-block [code]="importModule"></code-block>
    </div>

    <h2>Basic</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <input ultInput [(ngModel)]="value" placeholder="Some Placeholder">
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Sizes</h2>
    <playground>
      <playground-content>
        <div class="w-[400px] space-y-8">
          <ult-form-field>
            <ult-label>Default Text Field</ult-label>
            <input ultInput placeholder="Some Placeholder" size="default">
          </ult-form-field>
          <ult-form-field>
            <ult-label>Large Text Field</ult-label>
            <input ultInput placeholder="Some Placeholder" size="lg">
          </ult-form-field>
          <ult-form-field>
            <ult-label>Full Name</ult-label>
            <ult-input size="lg">
              <ng-template ultInputPrefix>Some Content</ng-template>
              <input type="text" placeholder="Some Placeholder">
            </ult-input>
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Prefix</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <ult-label>Full Name</ult-label>
            <ult-input>
              <div ultInputPrefix>Some Content</div>
              <input type="text" placeholder="Some Placeholder">
            </ult-input>
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Suffix</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <ult-label>Full Name</ult-label>
            <ult-input>
              <input type="text" placeholder="Some Placeholder">
              <ng-template ultInputSuffix>$</ng-template>
            </ult-input>
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Loading Indicator</h2>
    <playground>
      <playground-content>
        <div class="w-[400px] space-y-8">
          <ult-form-field>
            <ult-label>Loading Indicator</ult-label>
            <ult-input>
              <input type="text" placeholder="Some Placeholder">
              <ult-spinner size="sm" ultInputPrefix></ult-spinner>
            </ult-input>
          </ult-form-field>
          <ult-form-field>
            <ult-label>Loading Indicator</ult-label>
            <ult-input>
              <input type="text" placeholder="Some Placeholder">
              <ult-spinner size="sm" ultInputSuffix></ult-spinner>
            </ult-input>
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>


    <h2>Disabled</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <ult-label>Disabled</ult-label>
            <input ultInput placeholder="Some Placeholder" [disabled]="true">
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Readonly</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <ult-label>Readonly</ult-label>
            <input ultInput placeholder="Some Placeholder" [readonly]="true">
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>


    <h2>Required Indicator</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <ult-label [required]="true">Required</ult-label>
            <input ultInput placeholder="Some Placeholder">
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Rounded Corners</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <ult-label>Age</ult-label>
            <input ultInput placeholder="Some Placeholder" [roundedFull]="true">
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Helper Text</h2>
    <playground>
      <playground-content>
        <div class="w-[400px]">
          <ult-form-field>
            <ult-label>Default Text Field</ult-label>
            <input ultInput placeholder="Some Placeholder" size="default">
            <ult-helper-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</ult-helper-text>
          </ult-form-field>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Invalid State</h2>
    <playground>
      <playground-content>
        <div class="w-[400px] space-y-8">
          <div class="space-y-2">
            <div>Basic invalid state:</div>
            <ult-form-field>
              <ult-label [required]="true">Full Name</ult-label>
              <input ultInput placeholder="Some Placeholder" [invalid]="true">
              <ult-errors>
                <ult-error>This field is required</ult-error>
              </ult-errors>
            </ult-form-field>
          </div>
          <div class="space-y-2">
            <div>Invalid state with before and after content:</div>
            <ult-form-field>
              <ult-label [required]="true">Full Name</ult-label>
              <ult-input [invalid]="true">
                <ng-template ultInputPrefix>Some Content</ng-template>
                <input type="text" placeholder="Some Placeholder">
                <ng-template ultInputSuffix>$</ng-template>
              </ult-input>
              <ult-errors>
                <ult-error>This field is required</ult-error>
              </ult-errors>
            </ult-form-field>
          </div>
          <div class="space-y-2">
            <div>Invalid state with helper text:</div>
            <ult-form-field>
              <ult-label [required]="true">Full Name</ult-label>
              <input ultInput placeholder="Some Placeholder" [invalid]="true">
              <ult-helper-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</ult-helper-text>
              <ult-errors>
                <ult-error>This field is required</ult-error>
              </ult-errors>
            </ult-form-field>
          </div>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h3>Composite Field</h3>
    <ult-resizable-container minWidth="300" class="border rounded-lg">
      <playground styled="false">
        <playground-content centered="false">
          <div class="p-7 space-y-5 w-full">
            <ult-form-field [composite]="true">
              <ult-label [required]="true">Required</ult-label>
              <input ultInput placeholder="Some Placeholder">
              <input ultInput placeholder="Some Placeholder">
            </ult-form-field>
            <ult-form-field [composite]="true">
              <ult-label>Required</ult-label>
              <input ultInput placeholder="Some Placeholder">
              <input ultInput placeholder="Some Placeholder">
              <input ultInput placeholder="Some Placeholder">
            </ult-form-field>
            <ult-form-field [composite]="true">
              <ult-label [required]="true">Required</ult-label>
              <input ultInput placeholder="Some Placeholder">
              <ult-input>
                <ng-template ultInputPrefix>Some Content</ng-template>
                <input type="text" placeholder="Some Placeholder">
                <ng-template ultInputSuffix>$</ng-template>
              </ult-input>
            </ult-form-field>
          </div>
        </playground-content>
      </playground>
    </ult-resizable-container>
  </div>
  <div class="col-span-4">
    afas
  </div>
</div>
