<div class="grid grid-cols-12 gap-10">
  <div class="col-span-8 space-y-8">
    <div class="space-y-6">
      <h2 class="mt-0">Layout</h2>
    </div>
    <h3>Sidebar Variants</h3>
    <div class="space-y-6">
      <div>
        <button ult-button (click)="hideSidebar()">Hide Sidebar</button>
      </div>
      <div>
        <button ult-button (click)="showSidebar()">Show Sidebar</button>
      </div>
      <div>
        <button ult-button (click)="hideAside()">Hide Aside</button>
      </div>
      <div>
        <button ult-button (click)="showAside()">Show Aside</button>
      </div>
    </div>
  </div>
</div>
<ult-layout-aside class="border-s">asfafsafs</ult-layout-aside>
