<div class="grid grid-cols-12 gap-10">
  <div class="col-span-8 space-y-8">
    <div>
      <h1 class="text-2xl font-bold mt-0">Notification</h1>
    </div>
    <div>
      <div class="mb-3">Import module:</div>
      <code-block [code]="importModule"></code-block>
    </div>

    <h2>Basic</h2>
    <playground>
      <playground-content>
        <button ult-button (click)="show(basic)">Show Notification</button>
        <ng-template #basic let-api>
          <ult-toast>
            This task {{ api.id }} has been successfully deleted
          </ult-toast>
        </ng-template>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>With Icon</h2>
    <playground>
      <playground-content>
        <button ult-button (click)="show(withIcon)">Show Notification</button>
        <ng-template #withIcon let-api>
          <ult-toast>
            <ult-icon name="ph:question-fill" ultToastIcon></ult-icon>
            This task {{ api.id }} has been successfully deleted
          </ult-toast>
        </ng-template>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Close</h2>
    <playground>
      <playground-content>
        <button ult-button (click)="show(closeIcon)">Close Icon</button>
        <ng-template #closeIcon let-api>
          <ult-toast appearance="negative">
            This task {{ api.id }} has been successfully deleted
            <ult-icon name="ph:x" size="20" ultToastClose></ult-icon>
          </ult-toast>
        </ng-template>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Position</h2>
    <playground>
      <playground-content>
        <button ult-button (click)="showByPosition(positionTpl)">Show Notification</button>
        <ng-template #positionTpl let-api>
          <ult-toast>
            <ult-icon name="ph:question-fill" ultToastIcon></ult-icon>
            This task {{ api.id }} has been successfully deleted
          </ult-toast>
        </ng-template>
      </playground-content>
      <playground-properties>
        <ult-form-field>
          <ult-label>Position:</ult-label>
          <ult-radio-group>
            <ult-radio [(ngModel)]="position" value="top-start">Top Start</ult-radio>
            <ult-radio [(ngModel)]="position" value="top-center">Top Center</ult-radio>
            <ult-radio [(ngModel)]="position" value="top-end">Top End</ult-radio>
            <ult-radio [(ngModel)]="position" value="bottom-start">Bottom Start</ult-radio>
            <ult-radio [(ngModel)]="position" value="bottom-center">Bottom Center</ult-radio>
            <ult-radio [(ngModel)]="position" value="bottom-end">Bottom End</ult-radio>
          </ult-radio-group>
        </ult-form-field>
      </playground-properties>
      <playground-controls></playground-controls>
    </playground>

    <h2>Custom</h2>
    <playground>
      <playground-content>
        <button ult-button (click)="show(custom)">Show Notification</button>
        <ng-template #custom>
          <ult-notification class="relative bg-white border">
            <button type="button" class="absolute top-2 end-2 inline-flex flex-shrink-0 justify-center items-center h-5 w-5 rounded-lg text-gray-800 opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100 dark:text-white">
              <span class="sr-only">Close</span>
              <ult-icon name="ph:x" size="18" ultNotificationClose></ult-icon>
            </button>
            <div class="flex p-4">
              <div class="flex-shrink-0">
                <ult-avatar class="!w-8 !h-8" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80">
                </ult-avatar>
              </div>
              <div class="ms-4 me-5">
                <h3 class="text-gray-800 font-medium text-sm dark:text-white">
                  <span class="font-semibold">James</span> mentioned you in a comment
                </h3>
                <div class="mt-1 text-sm text-gray-500 dark:text-gray-400">
                  Nice work! Keep it up!
                </div>
                <div class="mt-2">
                  <button ult-button variant="link" size="sm" class="!px-0">Mark as read</button>
                </div>
              </div>
            </div>
          </ult-notification>
        </ng-template>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>
  </div>
</div>
