<div class="grid grid-cols-12 gap-10">
  <div class="col-span-8 space-y-8">
    <div class="space-y-6">
      <h1 class="text-2xl font-bold mt-0">Pin Input</h1>
    </div>

    <div>
      <div class="mb-4">Import module:</div>
      <code-block [code]="importModule"></code-block>
    </div>

    <h2>Basic</h2>
    <playground>
      <playground-content>
        <ult-pin-input [(ngModel)]="basicValue"></ult-pin-input>
      </playground-content>
      <playground-properties>
        Value: {{ basicValue }}
      </playground-properties>
      <playground-controls></playground-controls>
    </playground>

    <h2>Size</h2>
    <playground>
      <playground-content>
        <ult-pin-input [size]="sizePlayground.size"></ult-pin-input>
      </playground-content>
      <playground-properties>
        <ult-form-field class="space-y-5">
          <ult-radio-group>
            <ult-radio name="sizePlayground" [(ngModel)]="sizePlayground.size" value="sm">Small</ult-radio>
            <ult-radio name="sizePlayground" [(ngModel)]="sizePlayground.size" value="default">Default</ult-radio>
            <ult-radio name="sizePlayground" [(ngModel)]="sizePlayground.size" value="lg">Large</ult-radio>
          </ult-radio-group>
        </ult-form-field>
      </playground-properties>
      <playground-controls></playground-controls>
    </playground>

    <h2>Placeholder</h2>
    <playground>
      <playground-content>
        <ult-pin-input placeholder="⚬"></ult-pin-input>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>

    <h2>Length</h2>
    <playground>
      <playground-content>
        <div class="space-y-8">
          <ult-pin-input length="3"></ult-pin-input>
          <ult-pin-input placeholder="⚬" length="6"></ult-pin-input>
          <ult-pin-input placeholder="-" length="10"></ult-pin-input>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>
  </div>
</div>
