<div class="grid grid-cols-12 gap-10">
  <div class="col-span-8 space-y-8">
    <div class="space-y-6">
      <h1 class="text-2xl font-bold mt-0">Pin Input</h1>
    </div>

    <div>
      <div class="mb-4">Import module:</div>
      <code-block [code]="importModule"></code-block>
    </div>

    <h2>Basic</h2>
    <playground>
      <playground-content>
        <div class="w-1/2">
          <ult-pin-input></ult-pin-input>
        </div>
      </playground-content>
      <playground-controls></playground-controls>
    </playground>
  </div>
</div>
