<div class="grid grid-cols-12 gap-10">
  <div class="col-span-8 space-y-8">
    <div class="space-y-6">
      <h1 class="text-2xl font-bold mt-0">Slider</h1>
    </div>
    <div class="space-y-6">
      <p>Import module:</p>
      <code-block [code]="importModule"></code-block>
    </div>

    <h2>Basic</h2>
    <playground>
      <playground-content>
        <ult-slider min="20" max="40" [(ngModel)]="value" (changed)="value = $event">
          <input ultSliderThumb>
        </ult-slider>
      </playground-content>
      <playground-properties>
        <div class="mt-4 text-sm">Value: {{ value | json }}</div>
      </playground-properties>
      <playground-controls></playground-controls>
    </playground>

    <h2>Steps</h2>
    <playground>
      <playground-content>
        <ult-slider min="0" max="100" [value]="stepsValue" step="10" (changed)="stepsValue = $event">
          <input ultSliderThumb>
        </ult-slider>
      </playground-content>
      <playground-properties>
        <div class="mt-4 text-sm">Value: {{ stepsValue | json }}</div>
      </playground-properties>
      <playground-controls></playground-controls>
    </playground>

    <h2>Show Tick Marks</h2>
    <playground>
      <playground-content>
        <ult-slider min="0" max="100" [value]="showStepPointsValue" showTickMarks="true"
                    step="10" (changed)="showStepPointsValue = $event">
          <input ultSliderThumb>
        </ult-slider>
      </playground-content>
      <playground-properties>
        <div class="mt-4 text-sm">Value: {{ showStepPointsValue | json }}</div>
      </playground-properties>
      <playground-controls></playground-controls>
    </playground>
  </div>
</div>
