:root {
  --ult-accordion-space-y: theme('spacing.3');
  --ult-accordion-item-bg: theme('colors.transparent');
  --ult-accordion-item-expanded-header-bg: theme('colors.transparent');
  --ult-accordion-item-border-radius: theme('borderRadius.xl');
  --ult-accordion-item-border-width: theme('width.px');
  --ult-accordion-item-border-color: theme('colors.neutral.200');
  --ult-accordion-item-header-bg: theme('colors.transparent');
  --ult-accordion-item-header-hover-bg: theme('colors.neutral.100');
  --ult-accordion-item-header-active-bg: theme('colors.neutral.100');
  --ult-accordion-item-header-height: theme('height.12');
  --ult-accordion-item-header-padding: 0 theme('padding.5');
  --ult-accordion-item-header-has-toggle-padding: 0 theme('padding.3') 0 theme('padding.5');
  --ult-accordion-item-header-font-size: theme('fontSize.sm');
  --ult-accordion-item-header-border-radius: theme('borderRadius.xl');
  --ult-accordion-item-body-padding: theme('padding.5');
  --ult-accordion-item-toggle-icon-color: theme('colors.neutral.500');
  --ult-accordion-item-toggle-icon-position-end: theme('spacing.3');
  --ult-accordion-item-toggle-icon-rotate-deg: -180deg;
}
