:root {
  --ult-command-bar-height: theme('height.10');
  --ult-command-bar-margin: theme('margin.8') 0;
  --ult-command-bar-zindex: theme('zIndex.50');
  --ult-command-bar-bg: theme('colors.white');
  --ult-command-bar-border: 1px solid theme('colors.neutral.200');
  --ult-command-bar-shadow: theme('boxShadow.lg');
  --ult-command-bar-border-radius: theme('borderRadius.full');
  --ult-command-bar-command-padding: 0 theme('padding[3.5]');
  --ult-command-bar-command-font-size: theme('fontSize.sm');
  --ult-command-bar-command-color: theme('colors.neutral.500');
  --ult-command-bar-command-hover-color: theme('colors.neutral.900');
  --ult-command-bar-command-hover-bg: theme('colors.neutral.50');
  --ult-command-bar-value-color: theme('colors.neutral.500');
  --ult-command-bar-command-gap: theme('gap.3');
  --ult-command-bar-value-padding: 0 theme('padding[3.5]');
  --ult-command-bar-value-font-size: theme('fontSize.sm');
  --ult-command-bar-separator-width: 1px;
  --ult-command-bar-separator-height: 100%;
  --ult-command-bar-separator-bg: theme('colors.neutral.200');
  --ult-command-bar-command-shortcut-bg: theme('colors.neutral.100');
  --ult-command-bar-command-shortcut-border-radius: theme('borderRadius.DEFAULT');
  --ult-command-bar-command-shortcut-font-size: theme('fontSize.xs');
  --ult-command-bar-command-shortcut-color: theme('colors.neutral.600');
  --ult-command-bar-command-shortcut-padding: 0 5px;
  --ult-command-bar-command-shortcut-border: 1px solid theme('colors.neutral.200');
}
