:root {
  --ult-date-picker-width: 300px;
  --ult-date-picker-height: 346px;
  --ult-date-picker-control-size: theme('width.8');
  --ult-date-picker-control-border-radius: theme('borderRadius.md');
  --ult-date-picker-control-color: theme('colors.neutral.400');
  --ult-date-picker-control-hover-color: theme('colors.primary.500');
  --ult-date-picker-control-bg: theme('colors.neutral.50');
  --ult-date-picker-control-hover-bg: theme('colors.neutral.100');
  --ult-date-picker-control-active-bg: theme('colors.neutral.200');
  --ult-date-picker-controls-gap: theme('gap[1.5]');
  --ult-date-picker-today-padding: 0 theme('padding[2.5]');
  --ult-date-picker-today-font-size: theme('fontSize.sm');
  --ult-date-picker-month-view-padding: theme('padding.3');
  --ult-date-day-of-week-names-margin: theme('margin[1.5]') 0 theme('margin[3.5]') 0;
  --ult-date-picker-week-day-font-size: theme('fontSize.2xs');
  --ult-date-picker-week-day-color: theme('colors.neutral.400');
  --ult-date-picker-week-day-text-transform: uppercase;
  --ult-date-day-cell-size: theme('width.9');
  --ult-date-day-number-font-size: theme('fontSize.sm');
  --ult-date-day-number-border-radius: theme('borderRadius.full');
  --ult-date-day-number-hover: theme('colors.neutral.100');
  --ult-date-picker-day-number-not-active-color: theme('colors.neutral.400');
  --ult-date-day-number-today-bg: theme('colors.primary.100');
  --ult-date-month-day-cells-gap: theme('gap.1');
  --ult-date-day-selected-bg: theme('colors.primary.500');
  --ult-date-day-selected-color: theme('colors.white');
  --ult-date-picker-multi-color: theme('colors.neutral.500');
  --ult-date-picker-multi-active-color: theme('colors.neutral.900');
  --ult-date-picker-multi-hover-color: theme('colors.neutral.900');
  --ult-date-picker-multi-hover-bg: theme('colors.neutral.100');
  --ult-date-picker-multi-font-size: theme('fontSize.sm');
  --ult-date-picker-multi-month-padding: 0 theme('padding[3.5]');
  --ult-date-picker-multi-year-padding: 0 theme('padding.2');
  --ult-date-picker-multi-border-radius: theme('borderRadius.full');
  --ult-date-picker-multi-today-border: 1px solid theme('colors.neutral.200');
  --ult-date-picker-multi-columns-padding: theme('padding.4');
  --ult-date-picker-multi-columns-gap: theme('padding.3');
  --ult-date-picker-month-label-color: theme('colors.neutral.800');
  --ult-date-picker-year-label-color: theme('colors.neutral.500');
  --ult-date-picker-label-font-size: theme('fontSize.sm');
  --ult-date-picker-label-hover-color: theme('colors.primary.500');
  --ult-date-picker-label-active-color: theme('colors.primary.500');
  --ult-date-picker-header-height: theme('height.12');
  --ult-date-picker-header-padding: 0 theme('padding.3');
  --ult-date-picker-header-border: 1px solid theme('colors.neutral.200');
  --ult-date-picker-labels-gap: theme('gap.1');
}
