:root {
  --ult-menu-shadow: theme('boxShadow.lg');
  --ult-menu-min-width: 160px;
  --ult-menu-bg: theme('colors.white');
  --ult-menu-border-radius: theme('borderRadius.lg');
  --ult-menu-border-width: theme('width.px');
  --ult-menu-border-color: theme('colors.neutral.200');
  --ult-menu-padding: theme('padding[1.5]');
  --ult-menu-position-offset: theme('spacing[1.5]');
  --ult-menu-space-y: theme('spacing.1');
  --ult-menu-item-font-size: theme('fontSize.sm');
  --ult-menu-item-color: theme('colors.neutral.700');
  --ult-menu-item-hover-color: theme('colors.neutral.700');
  --ult-menu-item-hover-bg: theme('colors.neutral.50');
  --ult-menu-item-selected-bg: theme('colors.neutral.100');
  --ult-menu-item-selected-color: theme('colors.primary.500');
  --ult-menu-item-gap: theme('gap.2');
  --ult-menu-item-height: theme('height.10');
  --ult-menu-item-border-radius: theme('borderRadius.md');
  --ult-menu-item-padding: 0 theme('padding.3');
  --ult-menu-item-has-icon-padding-start: theme('padding[2.5]');
  --ult-menu-item-has-check-padding-end: theme('padding.2');
  --ult-menu-item-has-trigger-padding-end: theme('padding[1.5]');
  --ult-menu-separator-bg: theme('colors.neutral.200');
  --ult-menu-separator-height: theme('height.px');
  --ult-menu-separator-margin: theme('margin[1.5]') calc(theme('margin[1.5]') * -1);
  --ult-menu-heading-font-size: theme('fontSize.2xs');
  --ult-menu-heading-font-weight: theme('fontWeight.medium');
  --ult-menu-heading-padding: theme('padding[1.5]') theme('padding[2.5]');
  --ult-menu-heading-color: theme('colors.neutral.400');
  --ult-menu-item-icon-width: theme('width.4');
  --ult-menu-item-icon-font-size: theme('fontSize.xl');
  --ult-menu-item-check-icon-font-size: theme('fontSize.2xl');
  --ult-menu-item-check-icon-position-end: theme('spacing.2');
  --ult-menu-item-check-icon-color: theme('colors.primary.500');
  --ult-menu-trigger-icon-font-size: theme('fontSize.xl');
  --ult-menu-trigger-icon-position-end: theme('spacing[1.5]');
  --ult-menu-trigger-icon-color: inherit;
}
