:root {
  --ult-select-trigger-font-size: var(--ult-input-font-size);
  --ult-select-trigger-bg: var(--ult-input-bg);
  --ult-select-trigger-color: var(--ult-input-color);
  --ult-select-trigger-border-radius: var(--ult-input-border-radius);
  --ult-select-trigger-height: var(--ult-input-height);
  --ult-select-trigger-border-width: var(--ult-input-border-width);
  --ult-select-trigger-border-color: var(--ult-input-border-color);
  --ult-select-trigger-padding: var(--ult-input-padding);
  --ult-select-trigger-has-toggle-or-clear-padding-end: theme('padding.2');
  --ult-select-trigger-hover-border-color: var(--ult-input-hover-border-color);
  --ult-select-trigger-focused-border-color: var(--ult-input-focused-border-color);
  --ult-select-placeholder-color: var(--ult-input-placeholder-color);
  --ult-select-toggle-icon-width: theme('width.3');
  --ult-select-toggle-icon-color: theme('colors.neutral.400');
  --ult-select-clear-icon-color: theme('colors.neutral.400');
  --ult-select-clear-icon-hover-color: theme('colors.negative.500');
  --ult-select-options-shadow: theme('boxShadow.lg');
  --ult-select-options-border-width: theme('width.px');
  --ult-select-options-border-color: theme('colors.neutral.200');
  --ult-select-options-border-radius: theme('borderRadius.lg');
  --ult-select-options-bg: theme('colors.white');
  --ult-select-options-max-height: calc(100vh / 2);
  --ult-select-options-padding: theme('padding[1.5]');
  --ult-select-options-margin-y: theme('margin.2');
  --ult-select-options-gap: theme('gap.1');
  --ult-option-check-icon-color: theme('colors.primary.500');
  --ult-option-font-size: theme('fontSize.sm');
  --ult-option-border-radius: theme('borderRadius.md');
  --ult-option-bg: theme('colors.transparent');
  --ult-option-color: theme('colors.neutral.700');
  --ult-option-gap: theme('gap[2.5]');
  --ult-option-height: theme('height.10');
  --ult-option-padding: 0 theme('padding.3');
  --ult-option-has-check-padding-end: theme('padding[2.5]');
  --ult-option-hover-bg: theme('colors.neutral.50');
  --ult-option-hover-color: theme('colors.neutral.800');
  --ult-option-selected-bg: theme('colors.neutral.100');
  --ult-option-selected-color: theme('colors.primary.500');
}

/* Sizes */
[ult-select-trigger-size="sm"] {
  --ult-select-trigger-height: theme('height.control-sm');
}

[ult-select-trigger-size="lg"] {
  --ult-select-trigger-height: theme('height.control-lg');
}
