:root {
  --ult-sidebar-panel-width: 5rem;
  --ult-sidebar-item-width: 3.75rem;
  --ult-sidebar-item-height: 3.75rem;
  --ult-sidebar-item-padding: theme('padding.2');
  --ult-sidebar-item-color: theme('colors.neutral.500');
  --ult-sidebar-item-gap: theme('gap.1');
  --ult-sidebar-item-hover-bg: theme('colors.primary.50');
  --ult-sidebar-item-hover-color: theme('colors.primary.500');
  --ult-sidebar-item-active-bg: theme('colors.primary.500');
  --ult-sidebar-item-active-color: theme('colors.white');
  --ult-sidebar-item-border-radius: theme('borderRadius.lg');
  --ult-sidebar-aside-width: 18.75rem;
  --ult-sidebar-panel-border-end: 1px solid theme('colors.neutral.200');
  --ult-sidebar-nav-padding: theme('padding[2.5]');
  --ult-sidebar-nav-gap: theme('gap.3');
  --ult-sidebar-item-text-font-size: theme('fontSize.xs');
  --ult-sidebar-item-icon-font-size: theme('fontSize.2xl');
}
