:root {
  --ult-slider-height: theme('height.5');
  --ult-slider-border-radius: theme('borderRadius.full');
  --ult-slider-track-height: theme('height.2');
  --ult-slider-track-bg: theme('colors.neutral.100');
  --ult-slider-knob-border-radius: theme('borderRadius.full');
  --ult-slider-knob-size: theme('width.5');
  --ult-slider-knob-bg: theme('colors.primary.500');
  --ult-slider-knob-shadow: none;
  --ult-slider-knob-hover-shadow: theme('boxShadow.lg');
  --ult-slider-knob-active-scale: theme('scale.110');
  --ult-slider-mark-size: 3px;
  --ult-slider-mark-bg: theme('colors.neutral.400');
  --ult-slider-track-active-bg: theme('colors.neutral.200');
  --ult-slider-label-offset: -4px;
  --ult-slider-label-bg: theme('colors.neutral.800');
  --ult-slider-label-color: theme('colors.white');
  --ult-slider-label-font-size: theme('fontSize.3xs');
  --ult-slider-label-border-radius: theme('borderRadius.md');
  --ult-slider-label-shadow: theme('boxShadow.md');
  --ult-slider-label-padding: 0 theme('padding[1.5]');
  --ult-slider-label-height: theme('height.6');
  --ult-slider-label-font-weight: theme('fontWeight.semibold');
  --ult-slider-label-min-width: theme('width.6');
}
