<div class="flex items-center gap-10">
  <ult-gauge [value]="10" class="!w-12 !h-12"></ult-gauge>
  <ult-gauge [value]="30">
    <ult-gauge-value>30%</ult-gauge-value>
  </ult-gauge>
  <ult-gauge [value]="50" class="!w-32 !h-32">
    <ult-gauge-value>50$</ult-gauge-value>
  </ult-gauge>
  <ult-gauge [value]="90" class="!w-40 !h-40">
    <ult-gauge-value>90</ult-gauge-value>
  </ult-gauge>
  <ult-gauge [value]="70" strokeWidth="6" class="!w-40 !h-40">
    <ult-gauge-value>70</ult-gauge-value>
  </ult-gauge>
</div>
