<div class="grid grid-cols-12">
  <div class="col-span-8">
    <div class="space-y-8">
      <h1 class="text-2xl font-bold mt-0">Expand</h1>
      <div>
        <div class="mb-4">Import module:</div>
        <code-block [code]="importModule"></code-block>
      </div>

      <h2>Basic</h2>
      <playground>
        <playground-content [centered]="false">
          <div class="w-full">
            <ult-expand [expanded]="expandedBasic" class="border rounded-lg p-5 text-sm leading-relaxed">
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
            </ult-expand>
          </div>
        </playground-content>
        <playground-properties>
          <button ult-button (click)="toggleBasic()">Toggle</button>
        </playground-properties>
        <playground-controls></playground-controls>
      </playground>

      <h2>Custom Color</h2>
      <playground>
        <playground-content [centered]="false">
          <div class="w-full">
            <ult-expand [expanded]="expandedCustom" color="rgb(64, 64, 64)" class="bg-neutral-700 text-white border rounded-lg p-5 text-sm leading-relaxed custom-expand">
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
              If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.If you were hoping I had a magical, complete solution to this problem, <br>
              I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
            </ult-expand>
          </div>
        </playground-content>
        <playground-properties>
          <button ult-button (click)="toggleCustom()">Toggle</button>
        </playground-properties>
        <playground-controls></playground-controls>
      </playground>
    </div>
  </div>
</div>


